<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/addMovies.css">
        <title>IMDB Clone</title>
        <meta charset="utf-8">
        <script src="../../node_modules/axios/dist/axios.min.js"></script>
        <script src="../index.js" type="text/javascript" defer></script>
        <script src="../controller/addMovies.js" type="text/javascript" defer></script>
    </head>
    <body onload="generateHeaderAndFooter()">
        <header>
        </header>
        <page>
            <form id="form">
                <input type="text" id="id" hidden>
                <div class="forms">
                    <label>Title:</label>
                    <input type="text" id="title"/>
                </div>
                <div class="forms">
                    <label>Genre:</label>
                    <select name="genreSelect" id="genre">
                        <option value="1">Comedy</option>
                        <option value="2">Drama</option>
                        <option value="3">Romance</option>
                        <option value="4">Action</option>
                        <option value="5">Horror</option>
                        <option value="6">Thriller</option>
                        <option value="7">Fantasy</option>
                    </select>
                </div>
                <div class="forms">
                    <label>Description:</label>
                    <input type="text" id="description"/>
                </div>    
                <div class="forms">
                    <label>Image:</label>
                    <input type="text" id="image_url"/>
                </div>
                <div class="forms">
                    <label>Youtube:</label>
                    <input type="text" id="youtube_url"/>
                </div>
                <div class="forms">
                    <label>Pegi:</label>
                    <input type="text" id="pegi"/>
                </div>
                <div class="forms">
                    <label>Release Date:</label>
                    <input type="text" id="release_date"/>
                </div>
                <div class="forms">
                    <label>Creation Date:</label>
                    <input type="text" id="creation_date"/>
                </div>
                <div class="forms">
                    <label>User:</label>
                    <input type="text" id="creation_user"/>
                </div>
                <div class="forms">
                    <label>Director:</label>
                    <input type="text" id="director"/>
                </div>
            </form>
            <button onclick="postMovie()">submit</button>
        </page>
        <footer>
        </footer>
    </body>
</html>