<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>IMDB Clone</title>
        <meta charset="utf-8">
        <script src="/node_modules/axios/dist/axios.min.js"></script>
        <script src="../index.js" type="text/javascript" defer></script>
    </head>
    <body onload="generateHeaderAndFooter()">
        <header>
        </header>
        <page>
            <h1>  Form to add a movie to be added here </h1>
        </page>
        <footer>
        </footer>
    </body>
</html>