<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/listMovies.css">
        <title>IMDB Clone</title>
        <meta chrset="utf-8">
        <script src="../../node_modules/axios/dist/axios.min.js"></script>
        <script src="../index.js" type="text/javascript" defer></script>
        <script src="../controller/listMovies.js" type="text/javascript" defer></script>
        <script src="../controller/movieDetails.js" type="text/javascript" defer></script>
    </head>
    <body onload="generateHeaderAndFooter()">
        <header>
        </header>
        <page>
            <div id="listMovie" class="listMovie"></div>
        </page>
        <footer>
        </footer>
    </body>
</html>