<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>IMDB Clone</title>
        <meta chrset="utf-8">
        <script src="../json-server-lib/node_modules/axios/dist/axios.min.js"></script>
        <script src="../index.js" type="text/javascript" defer></script>
        <script src="../controller/movies.js" type="text/javascript" defer></script>
    </head>
    <body>
        <header>
        </header>
        <page>
            <div>
                <label id="idId"></label><br/>
                <label id="idTitle"></label><br/>
                <label id="idGenres"></label><br/>
                <label id="idDescription"></label><br/>
                <label id="idImageUrl"></label><br/>
                <label id="idYoutubeUrl"></label><br/>
                <label id="idPegi"></label><br/>
                <label id="idReleaseDate"></label><br/>
                <label id="idCreationUser"></label><br/>
                <label id="idCreationDate"></label><br/>
            </div>
        </page>
        <footer>
        </footer>
    </body>
</html>