.form {
    text-align: left;
    margin: 10px 40% 10px 40%;
}

.inputs input {
    margin-bottom: 10px;
    text-align: center;
    height: 30px;
    width: 100%;
    border-radius: 30px;
    background-color: #fff000;
    font-size: medium;
}

.inputs select {
    margin-bottom: 10px;
    text-align: center;
    height: 35px;
    width: 100%;
    border-radius: 30px;
    background-color: #fff000;
    font-size: medium;
}

.inputs select option {
    margin-left: 50px;
}

.inputs label {
    margin-bottom: 5px;
    width: 200px; 
    display: inline-block;
}

.button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 30%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #958e02;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }