body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQ2Mi1uLTEzMC10ZXh0dXJlaWRlYV8xLmpwZw.jpg?s=KWnwElvrZQjrd95v8ifqQ5skVxjp4IoueaNPCyZjf5E");
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

header, footer {
    background-color: rgb(41, 41, 41);
    color: rgb(246, 246, 246);
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

header {
    min-height: 120px;
    margin: auto;
}

footer {
    margin-top: auto;
}

page {
    padding: 10%;
    text-align: center;
    color: white;
}

#page-logo {   
    padding: 10px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    background-color: rgb(245 218 13 / 94%);
    font-size: 35px;
    display: inline-block;
    margin: auto;
}

nav{
    display: inline-block;
}

nav li{
	display: inline;
	margin:	0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	font-weight: bold;
	color:	rgb(246, 246, 246);
	font-size: 22px;
	text-decoration: none;
}	

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}


#movies-page-content{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.movies-section{
  display: flex;
  flex-wrap: wrap;
}

.poster-area{
    width: 33%;
}

.poster-content{
    max-width: 100%;
    margin: 5% 10%;
    align-items: center;
}
.poster-content img{
    width: 90%;
    height: 120%;
    border: 15px solid rgb(31, 2, 2);
    border-radius: 7.5px;
    box-shadow: 0px 0px 19px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
}
.poster-content .black-button{
    margin-top: 30px;
}
.poster-content img:hover{
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    cursor: pointer;
    box-shadow: 0px 0px 30px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
    transform: scale(1.1);
    transition: 0.2s;
}

/*.black-button{
    color: #6e6b6c;
    padding: 20px;
    width: 260px;
    height: 70px;
    border: 1px solid #6e6b6c;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    transition: color ease 1s;
    margin: auto;
}*/

.black-button-wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .black-button-wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ccc;
    border: 2px solid #ccc;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    text-transform: uppercase;
    margin: auto;
    margin-top: 10%;
  }
  
  .black-button-wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .black-button-wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(245 218 13 / 94%);
    transition: all .35s;
  }
  
  .black-button-wrapper a:hover{
    color: black;
    border: 2px solid black;
    transition: all .35s;
  }
  
  .black-button-wrapper a:hover:after{
    width: 100%;
  }
