body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQ2Mi1uLTEzMC10ZXh0dXJlaWRlYV8xLmpwZw.jpg?s=KWnwElvrZQjrd95v8ifqQ5skVxjp4IoueaNPCyZjf5E");
    background-repeat: repeat;
    background-size: 100%;
  }

header, footer {
    background-color: rgb(41, 41, 41);
    color: rgb(246, 246, 246);
    padding: 40px 0;
    text-align: center;
    width: 100%;
}


footer {
    position: relative;
    bottom: 0;
}

page {
    padding: 10%;
    text-align: center;
    color: white;
}

#page-title {   
    padding: 10px;
    max-width: fit-content;
    font-weight: bold;
    color: black;
    margin-left: 50px;
    border-radius: 10px;
    background-color: rgb(245 218 13 / 94%);
    font-size: 35px;
    display: inline-block;
}

nav{
	top: 110px;
	right: 0;
    display: inline-block;
}

nav li{
	display: inline;
	margin:	0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	font-weight: bold;
	color:	rgb(246, 246, 246);
	font-size: 22px;
	text-decoration: none;
}	

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

#box{
	position: relative;
	width: 940px;
	margin: 0 auto;
    
}

/* POSTERS SECTION*/

.movies-section{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.poster-area{
    flex: 0 0 33.333333%;
}

.poster-content{
    max-width: 100%;
    margin: 15%;
}
.poster-content img{
    width: 100%;
    height: 100%;
    margin: 5px;
    border: 15px solid rgb(31, 2, 2);
    border-radius: 5px;
    box-shadow: 0px 0px 19px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    -ms-filter: brightness(0.8);
}

.poster-content:hover{
    -webkit-filter: brightness(1.4);
    -moz-filter: brightness(1.4);
    -o-filter: brightness(1.4);
    -ms-filter: brightness(1.4);
    cursor: pointer;
    box-shadow: 0px 0px 30px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
    
}

