body {
  font-family: sans-serif;
  text-decoration: none;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQ2Mi1uLTEzMC10ZXh0dXJlaWRlYV8xLmpwZw.jpg?s=KWnwElvrZQjrd95v8ifqQ5skVxjp4IoueaNPCyZjf5E");
    background-repeat: repeat;
    background-size: 100%;
    transition: 0.2s;
  }


  footer {
    background-color: rgb(41, 41, 41);
    text-align: center;
    width: 100%;
    color: rgb(246, 246, 246);
    position: absolute;
    bottom: 0;
    padding-top: 100px;
}

#header-content {
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 50px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,1)), url("https://www.teahub.io/photos/full/101-1019747_passeio-das-aguas-cinema.jpg");
    background-size: 100%;
    background-position: 80% 48%;
    background-blend-mode:darken;
    border-bottom: 1px solid white;
}

#header-items {
  width: 75%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#page-nav a{
  text-shadow: 0px 0px 8px #000000;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
    margin-top: auto;
    padding: 40px 0;
    position: relative;
}

page {
    padding: 10%;
    text-align: center;
    color: white;
}

#page-logo {   
    padding: 10px;
    color: black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    font-size: 35px;
    display: inline-block;
    margin: auto;
    box-shadow: 0px -1px 15px 10px rgb(0, 0, 0);
    text-decoration: none;;
}

#page-logo:hover {   
  font-size: 45px;
  transition: 0.2s;
  cursor: pointer;
}

nav{
    display: inline-block;
}

nav li{
  display: inline;
}

nav a{
	text-transform: uppercase;
	color:	rgb(246, 246, 246);
	font-size: 22px;
	text-decoration: none;
}	

nav a:hover{
  font-size: 30px;
  transition: 0.2s;
}

#movies-page{
  padding-bottom: 0;
}

#movies-page-content{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.movies-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poster-area{
    width: 33%;
    min-width: 500px;;
}

.poster-content{
    max-width: 100%;
    margin: 5% 10%;
    align-items: center;
}
.poster-content img{
    min-width: 100px;
    width: 90%;
    height: 120%;
    border: 15px solid rgb(31, 2, 2);
    border-radius: 7.5px;
    box-shadow: 0px 0px 19px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
}
.poster-content .black-button{
    margin-top: 30px;
}
.poster-content img:hover{
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    cursor: pointer;
    box-shadow: 0px 0px 30px rgb(0, 0, 0), 0px 0px 30px rgba(0,0,0,0.9);
    transform: scale(1.1);
    transform-origin: bottom;
    transition: 0.2s;
}

.black-button-wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .black-button-wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ccc;
    border: 2px solid #ccc;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    text-transform: uppercase;
    margin: auto;
    
  }
  
  .black-button-wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .black-button-wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    transition: all .35s;
  }
  
  .black-button-wrapper a:hover{
    color: black;
    border: 2px solid black;
    transition: all .35s;
  }
  
  .black-button-wrapper a:hover:after{
    width: 100%;
  }

  .poster-briefing{
    font-size: 16px;
    color: #ccc;
    margin: 7px;
  }

  
